/*PARA BANNER*/
#banner{

	height: 400px;
	width: 100%;
	background-color: transparent;
	background-image:url(https://i.postimg.cc/HsFHLbN8/BANNER-2.png);
	background-repeat: no-repeat;
	background-position: center center;


}


/*Este selector afecta el cuerpo de la pagina */

.body
{background-image: url(https://i.postimg.cc/9QMBMqvT/fondo2.png);
background-size: 100%;
background-repeat: no-repeat;
margin: 0 auto;}

/*Este selector afecta la barra menu */

.menu
{ list-style-type:none;
overflow:hidden;
background-color: #lightblue;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
}							


/* Este selector afecta la alineacio de las opciones de menu */

li { float:left; }



/* Este selector afecta el menu:
display: block que elemento sea como un bloque 
color: el color de la tipografia del menu
text-align: la alineacion del texto del boton
padding: es una propiedad o relleno que sea crea alrededor del contenidos
de un elemento dentro de los bordes definidos
text-decoration: establece la decoracion que se aplica al texto de un elemento.

*/ 

li a{ display: 10x 20x ;
color: grey;
text-align: center;
padding: 1px 1px;
text-decoration: none;}

/*Este selector afecta los cuadros de las opciones del menu */

li a:hover{
	background-color: lightblue;
	color: whitesmoke;
}

/* Este selector afecta el parrafo */

.p1 {
	color: black;
	font-family:'Montserrat', semi-bold;
	font-size: 25px; 
	margin-left: 125px;
    margin-right: 0px;
    text-align: left;
}


.creditos {
color: black;
	font-family:  'Montserrat', sans-serif;
	font-size: 10px; 
	margin-left: 250px;
    margin-right: 250px;
    text-align: center;}


